.female{
    background-color: pink;
    font-weight: bold;
}
.male{
    background-color: cyan;
    font-style: italic;
}
.underlined{
    text-decoration: underline;
}
.out{
    padding: 6px;
    min-width: 400px;
    display: inline-block;
    text-align: left;
}