<!-- Ogni volta che richiamo app-student lui crea un' istanza diversa-->
<!-- <h4 [ngStyle]="{backgroundColor : student.gender=='F' ? 'pink' : 'cyan'}">
    {{ student.name }} - {{ student.hobby }}
</h4> -->
<p [ngClass]="{ 'female': student.gender =='F',
                'male': student.gender =='M',
                'underlined': student.hobby =='Poker'}"
                (click)="onStudentClick()">
    <!-- Binding unidirezionale :-->           
    
    <span *ngIf="student.isPro; else noJojo">Jojo:</span> {{ student.name }} - {{ student.hobby }}
    <ng-template #noJojo>
        <span>Jobro:</span>
    </ng-template>
</p>
